div {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}

.first-name {
  background: hotpink;
}

.second-name {
  background: plum;
}

@media  (max-width: 300px){
  .first-name {
    background: plum;
  }
  
  .second-name {
    background: hotpink;
  }
}